table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	margin: 2% auto;
}

td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 0px;
	height: 30px;
	width: 30px;
}

img {
	height: 20px;
	width: 20px;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	margin: 2%;
	height: 100%; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.MoveButton {
    height: 60px; width: 90px; 
    background-color: #007bff; 
    cursor: pointer; 
    color: white; 
    border-radius: 5px; 
    display: inline-block; 
    text-align: center;
    vertical-align: middle;
    line-height: 60px; 

}

.PositionBlock {
    height: 40px; width: 40px; 
    color: black; 
    border-radius: 5px; 
    display: inline-block; 
    text-align: center;
    vertical-align: middle;
    line-height: 60px; 
}

#MoveButtonRow {
    display: none;
}

.Position {
	margin-left: 45%;
}